*{
    margin: 0;
    box-sizing: border-box;
}
body{
    padding: 2% 15%;
background-color: black;
color: white;
}


header{
    padding: 2% 15%;
    /* Relative to font-size of the root element */
   font-size: 1.5em;
   
   
}


header, form{
    display: flex;
    align-items: center;
    justify-content: center;
    /* Relative to 1% of the height of the viewport* */
    min-height: 20vh;
   
   
    
    
}

form input, form button{
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
}

form input, button{
    font-size: 2rem;
 padding: 0.5rem;
    /* margin-top: 0%; */
    background-color: white;
    border: none;
}



form button{
    color: black;
    background-color: gray;
    cursor: pointer;
    transition-delay: all 0.3s ease;
}


form button:hover {
    background-color: black;
    color: white;
}


#todo-container{
    
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    border: 5% solid black;
    width: min-content;
    max-width: calc(100% - 50%);
    min-height: 50vh;
    background-color: gray;

}

.todo-list {

    min-width: 50%;
    padding: 10px;
    margin: 0.5rem;
    background: white;
    color: black;
    display: flex;
    flex-direction: column;
    transition: all 0.5s ease;
    flex: 1;
    gap: 0.6em;
  }

  .todo-item {
    display: flex;
  } */


   .todo-text {
    flex: 1;
  }

  .edit-btn {
    background-color: blue;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
  }






